In [58]:
#importing libraries

import pandas as pd
import mysql.connector
import numpy as np

 Converting all bus details csv  files into dataframe

In [59]:
df_bus1=pd.read_csv("kerala_buses.csv")
df_bus2=pd.read_csv("tsrtc_buses.csv")
df_bus3=pd.read_csv("apsrtc_buses.csv")
df_bus4=pd.read_csv("rsrtc_buses.csv")
df_bus5=pd.read_csv("sbstc_buses.csv")
df_bus6=pd.read_csv("hrtc_buses.csv")
df_bus7=pd.read_csv("astc_buses.csv")
df_bus8=pd.read_csv("ctu_buses.csv")
df_bus9=pd.read_csv("pepsu_buses.csv")
df_bus10=pd.read_csv("bsrtc_buses.csv")


df_all_buses=pd.concat([df_bus1,df_bus2,df_bus3,df_bus4,df_bus5,df_bus6,df_bus7,df_bus8,df_bus9,df_bus10],ignore_index= True)

In [60]:
df_all_buses

,bus_name,bus_type,departure_time,duration,reaching_time,star_rating,price,seat_availability,route_name,route_link
0,KSRTC (Kerala) - 1029,Super Fast Non AC Seater (2+3),00:00,05h 35m,05:35,3.0,INR 269,49 Seats available,Kozhikode to Ernakulam Bus,https://www.redbus.in/bus-tickets/kozhikode-to...
1,KSRTC (Kerala) - 2518,Swift Deluxe Non AC Air Bus (2+2),00:11,04h 43m,04:54,3.0,INR 309,31 Seats available,Kozhikode to Ernakulam Bus,https://www.redbus.in/bus-tickets/kozhikode-to...
2,KSRTC (Kerala) - 2072,Super Express Non AC Seater Air Bus (2+2),00:30,04h 20m,04:50,2.9\n5,INR 268,22 Seats available,Kozhikode to Ernakulam Bus,https://www.redbus.in/bus-tickets/kozhikode-to...
3,KSRTC (Kerala) - 2368,Low Floor AC Seater 2+2,00:30,05h 19m,05:49,2.4\n6,INR 383,15 Seats available,Kozhikode to Ernakulam Bus,https://www.redbus.in/bus-tickets/kozhikode-to...
4,KSRTC (Kerala) - 698,Super Fast Non AC Seater (2+3),00:45,04h 54m,05:39,1.8\n8,INR 230,44 Seats available,Kozhikode to Ernakulam Bus,https://www.redbus.in/bus-tickets/kozhikode-to...
...,...,...,...,...,...,...,...,...,...,...
17922,Bihar state road transport corporation (BSRTC)...,Volvo AC Seater 2+2,17:20,14h 40m,08:00,2.3\n7,INR 1300,44 Seats available,Motihari to Agra Bus,https://www.redbus.in/bus-tickets/motihari-to-...
17923,Panwar Travels,A/C Sleeper (2+1),15:40,14h 35m,06:15,2.8,INR 2500,26 Seats available,Motihari to Agra Bus,https://www.redbus.in/bus-tickets/motihari-to-...
17924,Baba Khatushyam Travels Pvt Ltd,A/C Seater / Sleeper (3+1),17:35,13h 55m,07:30,1.7,INR 1199,57 Seats available,Motihari to Agra Bus,https://www.redbus.in/bus-tickets/motihari-to-...
17925,Travel Point World LLP,A/C Seater / Sleeper (2+2),18:20,12h 30m,06:50,1.5,1899,38 Seats available,Motihari to Agra Bus,https://www.redbus.in/bus-tickets/motihari-to-...
17926,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+1),15:00,15h 43m,06:43,1.2,INR 1799,47 Seats available,Motihari to Agra Bus,https://www.redbus.in/bus-tickets/motihari-to-...

Data cleaning

In [61]:
#info about the data

df_all_buses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17927 entries, 0 to 17926
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bus_name           17927 non-null  object
 1   bus_type           17927 non-null  object
 2   departure_time     17927 non-null  object
 3   duration           17927 non-null  object
 4   reaching_time      17927 non-null  object
 5   star_rating        17927 non-null  object
 6   price              17927 non-null  object
 7   seat_availability  17927 non-null  object
 8   route_name         17927 non-null  object
 9   route_link         17927 non-null  object
dtypes: object(10)
memory usage: 1.4+ MB

In [62]:
#convert prices to numeric


df_all_buses["price"]=df_all_buses["price"].astype(str)

df_all_buses["price"]=df_all_buses["price"].str.replace("INR ","")


df_all_buses["price"]=df_all_buses["price"].astype(float)

In [64]:
#convert Ratings to numeric


df_all_buses["star_rating"]=df_all_buses["star_rating"].astype(str)


df_all_buses["star_rating"]=df_all_buses["star_rating"].str.split('\n').str[0]

#Ensure that the 'star rating' column is numeric
df_all_buses['star_rating'] = pd.to_numeric(df_all_buses['star_rating'], errors='coerce')

In [65]:
df_all_buses.isnull().sum()

bus_name               0
bus_type               0
departure_time         0
duration               0
reaching_time          0
star_rating          385
price                  0
seat_availability      0
route_name             0
route_link             0
dtype: int64

In [66]:
# replacing the 'nan' value to 'None'

df_all_buses = df_all_buses.replace({np.nan: None})

In [67]:
df_all_buses.isnull().sum()

bus_name               0
bus_type               0
departure_time         0
duration               0
reaching_time          0
star_rating          385
price                  0
seat_availability      0
route_name             0
route_link             0
dtype: int64

In [68]:
#After cleanimg checking information

df_all_buses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17927 entries, 0 to 17926
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bus_name           17927 non-null  object
 1   bus_type           17927 non-null  object
 2   departure_time     17927 non-null  object
 3   duration           17927 non-null  object
 4   reaching_time      17927 non-null  object
 5   star_rating        17542 non-null  object
 6   price              17927 non-null  float64
 7   seat_availability  17927 non-null  object
 8   route_name         17927 non-null  object
 9   route_link         17927 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.4+ MB

In [69]:
#Converting into CSV File

df_all_buses.to_csv("Final_buses.csv", index=False)

SQL CONNECTION

In [72]:
#sql connection

import mysql.connector

conn = mysql.connector.connect(host="localhost", user="root", password= "H@ridhoni7")

my_cursor = conn.cursor()

my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS")

# Select the database
my_cursor.execute("USE RED_BUS")

In [71]:
my_cursor.execute("drop database RED_BUS")

In [73]:
# Table Creation

my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  bus_name VARCHAR(255) NOT NULL,
                  bus_type VARCHAR(255) NOT NULL,
                  departure_time VARCHAR(255) NOT NULL,
                  duration VARCHAR(255) NOT NULL,
                  reaching_time VARCHAR(255) NOT NULL,
                  star_rating Float NULL,
                  price FLOAT NULL,
                  seat_availablity VARCHAR(255) NOT NULL,
                  route_name VARCHAR(700) NULL,
                  route_link VARCHAR(700) NULL
                  )''')

print("Table Created successfully")

Table Created successfully

In [74]:
# SQL query to insert data into bus_details table

insert_query = '''INSERT INTO bus_details(
                  bus_name,
                  bus_type ,
                  departure_time,
                  duration ,
                  reaching_time,
                  star_rating ,
                  price ,
                  seat_availablity ,
                  route_name ,
                  route_link 
                )
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

# Convert DataFrame to list of tuples
data = df_all_buses.values.tolist()

# Execute the SQL statement for multiple rows
my_cursor.executemany(insert_query, data)

 # Commit the transaction
conn.commit()

print("Values inserted successfully")

Values inserted successfully